.nav{
    width: 100%;
    background-color: rgb(74, 199, 230);
    display: flex;
    gap: 25px;
    padding: 20px;
    &__item{
        text-decoration: none;
        color: #fff;
    } 
}
.active{
    font-weight: bold;
    text-decoration: underline;
}